:root {
  --color-primary: #0f6580;
  --color-primary-rgb: 15, 101, 128;

  --color-first-main: #EEBF63;

  --color-bg-1: #f3f4f4;
  --color-bg-2: #ecf5f8;

  --color-background: #fff;

  --margin-container: 20.7vw;

}
